html{
	width: 1000px;
	margin: 0 auto;
	background: url("bin/background1.png");
	
}

body{
	margin: 0;
	background-color: white;
	border: black solid;
}

a{
	text-decoration: none;
}

#menu a {
	color: white;
}

@font-face {
    font-family: NouvelleVague;
    src: url(bin/nouvelle_vague_final.ttf);
}

@font-face {
    font-family: Bakery;
    src: url(bin/bakery.ttf);
}

@font-face {
    font-family: ChronicDelivery;
    src: url(bin/ChronicDelivery.ttf);
}

@font-face {
    font-family: MrSunshine;
    src: url(bin/MrSunshine.ttf);
}

@font-face {
    font-family: OldEurope;
    src: url(bin/OldEurope.ttf);
}

@font-face {
    font-family: SupernaturalKnight;
    src: url(bin/Supernatural_Knight.ttf);
}

#header {
	background-color: #595856;
	color: white;
	font-family: SupernaturalKnight;
	font-size: 120%;
	height: 150px;
}

#header h1 {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 25px;
	padding-left: 15px;
	font-style: normal;
}

#header h1 a:visited {
	color: white;
}

#header h2 {
	margin: 0;
	padding-left: 15px;
		font-style: normal;

}

#menu {
	background-color: #2F383B;
	color: white;
	height: 41px;
}
	
#menu ul li { 
	display: inline;
	padding: 0 5px;
	border-right: solid 1px white;		
}

#menu ul li:last-child { 
	border-right: none;		
}

#menu ul { 
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	
}
.single-event  > h3 {
	margin: 0;
	font-family: OldEurope;
	font-size: 1.8em;
}

.type {
	font-style: italic;
	padding-bottom: 10px;
}

.single-event > img {
	height: 10%;
	width: 10%;
	float: left;
	margin: 10px 10px 10px 10px;
}

.single-event {
	border-bottom-style: solid;
	padding-left: 1em;
	padding-right: 1em;
}

.single-event ul li { 
	display: inline; 
	background-color: #38373B;
	padding: 4px 12px;

}

.single-event ul{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.single-event ul a {
	color: white;
}

#searchbar {
	float: right;
}

#searchbutton {
	vertical-align: bottom;
}
 
#sidebar p{
  color: #ffffff;
  text-decoration: none;
}
 
#sidebar p {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}
 
#sidebar p {
  width: 0px auto;
  padding: 0;
}

#footer {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

#login {
	float: right;
	padding: 4px;
}

#logout {
	float: right;
	padding: 4px;
	color: white;
	display: inline-block;
    text-align: center;
}


#container2 {
    float:right;
    width:100%;
    background-color: #2F383B;
	overflow:hidden;
    position:relative;

}

#container {
    float:right;
    width:100%;
    background-color:white;
	position: relative;
	right: 20%;
}

#sidebar {
    float:right;
    width:20%;
	position:relative;
	left: 20%;
}

.event {
    float:right;
    width:80%;
	position:relative;	
	left: 20%;
}