html{
	width: 1000px;
	margin: 0 auto;
	background: url("bin/background1.png");
	
}

body{
	margin: 0;
	background-color: white;
	border: black solid;
}

a{
	text-decoration: none;
}

#menu a {
	color: white;
}

@font-face {
    font-family: NouvelleVague;
    src: url(bin/nouvelle_vague_final.ttf);
}

@font-face {
    font-family: Bakery;
    src: url(bin/bakery.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(bin/coolvetica.ttf);
}

@font-face {
    font-family: ChronicDelivery;
    src: url(bin/ChronicDelivery.ttf);
}

@font-face {
    font-family: MrSunshine;
    src: url(bin/MrSunshine.ttf);
}

@font-face {
    font-family: OldEurope;
    src: url(bin/OldEurope.ttf);
}

@font-face {
    font-family: SupernaturalKnight;
    src: url(bin/Supernatural_Knight.ttf);
}

#header {
	background-color: #595856;
	color: white;
	font-family: SupernaturalKnight;
	font-size: 120%;
	height: 150px;
	border-bottom: black solid;
}

#header h1 {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 25px;
	padding-left: 15px;
	font-style: normal;
}

#header h1 a:visited {
	color: white;
}

.single-event h3 a:visited {
	color: black;
}
.single-event h3 a {
	color: black;
}

#header h2 {
	margin: 0;
	padding-left: 15px;
	font-style: normal;
}

#menu {
	background-color: #2F383B;
	color: white;
	height: 41px;
}
	
#menu ul li { 
	display: inline;
	padding: 0 5px;
	border-right: solid 1px white;		
}

#menu ul li:last-child { 
	border-right: none;		
}

#menu ul { 
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	
}
.single-event  > h3 {
	font-size: 1.8em;
	max-width: 500px;
	font-family: Coolvetica;
}

.event_single  > h3 {
	font-size: 1.8em;
	max-width: 500px;
	font-family: Coolvetica;
	margin-left: 20px;
}

.type {
	padding-bottom: 10px;
}

.single-event > img {
	float: left;
	margin: 40px 10px 10px 10px;
	display: block;
    max-width:100px;
    max-height:90px;
    width: auto;
    height: auto;
}



.event_single > img {
	float: left;
	margin: 10px 10px 10px 10px;
	display: block;
    max-width:100px;
    max-height:90px;
    width: auto;
    height: auto;
}

.single-event {
	border-right-style: solid;
	border-top-style:solid;	
	padding-left: 1em;
	padding-right: 1em;
}

.event_single {
	border-bottom-style: solid;
	border-top-style: solid;
}

.event:last-child {
	border-bottom-style: solid;
}

.single-event p{
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.single-event ul li { 
	display: block; 
	background-color: #38373B;
	padding: 4px 12px;
	margin-bottom: 12px;
	text-align: center;

}

.single-event ul {
	padding-bottom: 10px;
	padding-left: 10px;
	float: right;
	clear: both;
}

.single-event ul a {
	color: white;
}

#searchbar {
	float: right;
}

#searchbutton {
	vertical-align: bottom;
}
 
#sidebar a{
  color: #ffffff;
  text-decoration: none;
}
 
#sidebar a {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}
 
#sidebar a {
  width: 0px auto;
  padding-bottom: 10px;
  display: block;
}

#sidebar p{
  color: #ffffff;
  text-decoration: none;
  font-family: Coolvetica;
  width: 60%;
  margin-left: 20%;
}
 
#sidebar p {
  list-style-type: none;
  text-align: center;
  border: ridge;
}
 
#sidebar p{
  width: 0px auto;
  display: block;
}

#footer {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

#login {
	float: right;
	padding: 4px;
}

#logout {
	float: right;
	padding: 4px;
	color: white;
	display: inline-block;
    text-align: center;
}


#container2 {
    float:right;
    width:100%;
    background-color: #2F383B;
	overflow:hidden;
    position:relative;

}

#container {
    float:right;
    width:100%;
    background-color:white;
	position: relative;
	right: 20%;
}

#sidebar {
    float:right;
    width:20%;
	position:relative;
	left: 20%;
}

.event {
    float:right;
    width:80%;
	position:relative;	
	left: 20%;
}

.event_single {
    float:right;
    width:80%;
	position:relative;	
	left: 20%;
}

.event_single span {
	overflow: hidden;
}

.event_single p, .event p, .single-event p{
	margin-left: 20%;
}

#comments {
	width:80%;
	position:relative;	
	left: 20%;
}

.single-event:hover {
	background-color: #CF8F7A;
}

.single-event span{
	max-width: 500px;
}

.single-event h3 {
	margin: 0px;
}

#create_event input {
	margin: 10px;	
}

#eventname, #eventtype {
	padding-top: 2px;
	padding-bottom: 3px;
}

#eventdes {
	margin-left: 10px;
}

#seeeventsprivacy {
	margin-bottom: 0px;
	
}
#comments h3 {
	text-align: center; 
}

#commenttext, #commentbutton {
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
}

#comments {
	border-bottom-style: solid;
}

#singlecomment {
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: dashed 1px;
	margin-left: 5px;
}

#commentuser {
	font-family: Coolvetica;
}